# Archivos de configuración
appsettings.json
appsettings.Development.json

# Archivos binarios
/bin/
/obj/

# Archivos de usuario
*.user

# Otros archivos que no deben ser subidos
/Properties/launchSettings.json
/PlacesApi/Properties/launchSettings.json